name: Singapore Erhu Society Official Website
url: "https://sgerhusociety.github.io"
markdown: kramdown
permalink: /blog/:year/:month/:day/:title
excerpt_separator: <!--more-->

# Exclude files from processing
exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor

collections:
  about:
    output: true

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"

plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag
