<nav>
    <ul>
         {% for item in site.data.navigation %}
            <li>
                <a href="{{ item.link }}"
                {% if item.link == "/" %}
                    {% if page.url == "/" %}
                        class="current"
                    {% endif %}
                {% elsif page.url contains item.link %}
                    class="current"    
                {% endif %}>
                    {{ item.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>