<nav role="navigation" aria-label="主导航 Main navigation">
    <ul>
         {% for item in site.data.navigation %}
            <li>
                <a href="{{ item.link }}"
                aria-label="{{ item.name | remove: '🏠 ' | remove: 'ℹ️ ' | remove: '📰 ' | remove: '📚 ' | remove: '✉️ ' }}"
                {% if item.link == "/" %}
                    {% if page.url == "/" %}
                        class="current" aria-current="page"
                    {% endif %}
                {% elsif item.link == "/blog" %}
                    {% if page.url == "/blog/" or page.url == "/blog/index.html" %}
                        class="current" aria-current="page"    
                    {% endif %}
                {% elsif item.link == "/archive" %}
                    {% if page.url == "/archive/" or page.url == "/archive/index.html" %}
                        class="current" aria-current="page"    
                    {% endif %}
                {% elsif page.url contains item.link %}
                    class="current" aria-current="page"    
                {% endif %}>
                    {{ item.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>