<!DOCTYPE html>
	<html lang="zh-CN">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
			<meta name="apple-mobile-web-app-capable" content="yes">
			<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="shortcut icon" type="image/x-icon" href="/myfavicon.ico">
			<link rel="apple-touch-icon" href="/files/logo.jpg">
			<link rel="stylesheet" href="/assets/css/styles.css">
		    {% feed_meta %}
    		{% seo %}
		</head>
		<body>
      			<div id="logoimage">
      				<img src="/files/logo.jpg" alt="新加坡二胡学会 Logo" />
      			</div> <!-- /#logoimage -->
      			<div id="headimage">
      				<img src="/files/header.jpg" alt="新加坡二胡学会" />
      			</div> <!-- /#headimage -->
      			
      			<!-- Google analytics -->
			{% include analytics.html %}
			
			{% include navigation.html %}
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->

			<footer>
	    		<ul>
	        		<li><a href="mailto:sgerhusociety@yahoo.com.sg">📧 Email</a></li>
					<li><a href="https://www.facebook.com/sgerhusociety">📘 Facebook</a></li>
				</ul>
			</footer>
		</body>
	</html>
